@import url('https://fonts.googleapis.com/css2?family=Gidole&family=Lexend:wght@100..900&family=Tektur:wght@400..900&display=swap');

*{
  font-family: "Lexend", sans-serif !important;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #5caf90;
  border-radius: 3rem;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

:focus-visible {
  outline: none;
}